@font-face{
    font-family: mario;

    /*Caso a fonte esteja na mesma pasta*/
    src: url(./img/SuperMario256.ttf);
}
span{
    background-image: url(./img/Daco_4636635.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
h1{
    font-family: mario;
    color: #F7413A;
    margin: 20px auto;
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    /* max-width: 100%; */
    
}
.celStyle{
    display: flex;
    height: 4.5vh;
    width: 4.5vw;
    /* max-width: 100%; */
}
#player{
    animation-duration: 100ms;
    height: 4.5vh;
    width: 2.5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://media4.giphy.com/media/hW3eSPv1BkgQ1KPTzm/giphy.gif);
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://i.pinimg.com/originals/ef/a5/4b/efa54b24be55c2ae77aa9e03e4043caf.gif);
}
.parede{
    background-size: contain;
    background-image: url(https://w7.pngwing.com/pngs/968/732/png-transparent-super-mario-brick-illustration-new-super-mario-bros-wii-new-super-mario-bros-wii-super-mario-world-brick-best-s-free-angle-brown-super-mario-bros.png);
}
.yoshi{
    background-position: center;
    background-size: 3.5vw;
    background-repeat: no-repeat;
    background-image: url(./img/oie_trans.gif);
}
.princess{
    background-position: center;
    background-size: 3.5vw;
    background-repeat: no-repeat;
    background-image: url(https://e7.pngegg.com/pngimages/299/182/png-clipart-super-princess-peach-luigi-mario-yoshi-luigi-super-mario-bros-text.png);
}
#vitoria{
    display: none;
    height: 50%;
    width: 50%;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/originals/52/af/ba/52afbae98dc0a6048fcdccf9bfb80440.gif);
}

@keyframes slideRight {
    from {margin-left: -33px;}
    to {margin-left: 0;}
}
@keyframes slideLeft {
    from {margin-right: -33px;}
    to {margin-right: 0;}
}
@keyframes slideUp {
    from {margin-bottom:  -33px;}
    to {margin-bottom: 0;}
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px){}

@media screen and (min-width: 800px){

    #labirinto{
        max-width: 800px;
        flex-wrap: wrap;
        margin: 0px auto;
        align-self: center;
    }

}
/* MEDIA QUERIES */